{% extends 'base.html.twig' %}

{% block title %}Hello SchoolController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Add a Module</h1>
    {{ form(new_module_form) }}
</div>
{% endblock %}
